.btn {
  border: none;
  color: $dark;
  min-width: 180px;
  padding: 0 40px;
  height: 50px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid $primary;
  &--primary {
    background: $primary;
    &:hover {
      background: $primaryh;
      border: 2px solid $primaryh;
    }
    &:active {
      background: $primarya;
      border: 2px solid $primarya;
    }
  }
}
// .outline {
//   background: transparent;
//   &:hover {
//     background: transparent;
//     border: 2px solid $primaryh;
//   }
//   &--disabled {
//     background: transparent;
//     border: 2px solid $default;
//     cursor: no-drop;
//     &:hover {
//       background: transparent;
//       border: 2px solid $default;
//     }
//   }
// }
.disabled {
  background: $default;
  border: 2px solid $default;
  cursor: no-drop;
  &:hover {
    background: $default;
    border: 2px solid $default;
  }
}
.small {
  min-width: 120px;
  height: 40px;
  padding: 0 12px;
}
