$colorWhite: #f2f6fa;
$colorGrey: #dadfe9;
$colorDarkGrey: #96a2ba;
$colorDarknessGrey: #505a78;
$colorGrey1: #3c374b;
$colorGrey2: #35344c;
$colorBlue3: #2339c4;
$colorOrange1: #FF7847;
$colorLightBlue: #2E4AFF;
$colorBlue2: #1A2CA2;
$colorOrange2: #EE6C3D;

body {
    box-sizing: border-box;
    background-color: #eef2f5;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.Btn1 {
    margin: 15px;
    height: 45px;
    width: 157px;
    background-color: $colorBlue3;
    color: $colorBlue3;
    color: white;
}

.Btn1:hover {
    color: $colorBlue2;
    background-color: $colorBlue2;
    color: white;
}

.Btn2 {
    margin: 15px;
    height: 45px;
    width: 157px;
    border: 1px solid $colorBlue3;
    color: $colorBlue3;
}

.Btn2:hover {
    border: 1px solid $colorBlue2;
    color: $colorBlue2;
}

.Btn3 {
    margin: 15px;
    height: 45px;
    width: 157px;
    background-color: $colorOrange1;
    color: white;
}

.Btn3:hover {
    background-color: $colorOrange2;
}

.Btn4 {
    margin: 15px;
    height: 45px;
    width: 157px;
    border: 1px solid $colorOrange1;
    color: $colorOrange1;
}

.Btn4:hover {
    border: 1px solid $colorOrange2;
    color: $colorOrange2;
}

.Btn5 {
    margin: 15px;
    height: 30px;
    width: 90px;
    background-color: $colorBlue2;
    color: white;
}

.Btn5:hover {
    background-color: $colorBlue3;
}

.Btn6 {
    margin: 15px;
    height: 30px;
    width: 90px;
    border: 1px solid $colorOrange1;
    color: $colorOrange1;
}

.Btn6:hover {
    border: 1px solid $colorOrange2;
    color: $colorOrange2;
}