.btn {
  border: none;
  color: $white;
  min-width: 160px;
  height: 50px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2px;
  &--primary {
    background: $primary;
    &:hover {
      background: $primaryh;
    }
  }
  &--secondary {
    background: $secondary;
    &:hover {
      background: $secondaryh;
    }
  }
  &--primaryOut {
    background: transparent;
    color: $primary;
    border: 2px solid $primary;
    &:hover {
      background-color: $primaryh;
      color: $white;
    }
  }
  &--secondaryOut {
    background: transparent;
    color: $secondary;
    border: 2px solid $secondary;
    &:hover {
      border: 2px solid $secondaryh;
      color: $secondaryh;
    }
  }
  // &--primarySmall {
  //   background: $primary;
  //   min-width: 90px;
  //   height: 30px;
  //   &:hover {
  //     background: $primaryh;
  //   }
  // }
  // &--secondarySmall {
  //   background: $secondary;
  //   min-width: 90px;
  //   height: 30px;
  //   &:hover {
  //     background: $secondaryh;
  //   }
  // }
}
