// Colors for UI Kit

// 50 shades of Grey
$grey-1: #f2f6fa;
$grey-2: #dadfe9;
$grey-3: #96a2ba;
$grey-4: #505a78;
$grey-5: #3c374b;
$grey-6: #35344c;

// Main Color of Our project (Primary Color - primary, Primary Color on Hover - primaryh)

$primary: #2339c4;
$primaryh: #1A2CA2;

// Secondary Color of Our project (Secondary Color - secondary, Secondary Color on Hover - secondaryh)

$secondary: #FF7847;
$secondaryh: #EE6C3D;

// Action Colors (Correct - correct, Error - error)

$correct: #2BE56F;
$error: #E52B38;