// Colors for UI Kit

$white: #fff;

// 50 shades of Grey
$grey-1: #f9f9f9;
$grey-2: #e3e6eb;
$grey-3: #c1c6d1;
$grey-4: #a1a7b5;
$grey-5: #717787;
$grey-6: #423e51;
$grey-7: #27263e;

// Main Color of Our project (Primary Color - primary, Primary Color on Hover - primaryh)

$primary: #435bd4;
$primaryh: #334abe;

// Secondary Color of Our project (Secondary Color - secondary, Secondary Color on Hover - secondaryh)

$secondary: #ff7847;
$secondaryh: #ee6c3d;

// Action Colors (Correct - correct, Error - error)

$warning: #ffc737;
$correct: #26de95;
$error: #ec4e4e;
