// Colors for UI Kit

$white: #fff;
$heading: #f9faff;
$default: #a1a8c8;
$dark: #050321;
// Main Color of Our project (Primary Color - primary, Primary Color on Hover - primaryh)

$primary: #ffd82b;
$primaryh: #eec820;

// Secondary Color of Our project (Secondary Color - secondary, Secondary Color on Hover - secondaryh)

$secondary: #0029fa;
$secondaryh: #0021c9;

// Action Colors (Correct - correct, Error - error)

$yellow: #f2db07;
$green: #07f255;
$red: #f20732;
