$breakpoints: (
  "mobile": (
    min-width: 320px
  ),
  "tablet": (
    min-width: 480px
  ),
  "ipad": (
    min-width: 768px
  ),
  "laptop": (
    min-width: 1024px
  ),
  "desktop": (
    min-width: 1281px
  )
);
@mixin res($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, this value does not exist in resolution.scss `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
