// Typography style for BridgeIT
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto&display=swap");

//Standardize typography for whole project
body,
*,
html {
  font-size: 62.5%;
  color: $grey-6;
  font-family: "Poppins", sans-serif;
}

// Heading sizes
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}

// Text sizes
p,
span,
a,
div {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

button {
  font-size: 1.4rem;
}
